<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Signup</title>
</head>
<body>
    <%-include('partials/nav') %>

    <div class="conatiner">
        <form action = "/user/signup" method = "post" class="bg-light p-4 rounded shadow">
  <h4 class="fw-bold mb-3 text-center">Create Account</h4>

  <div class="mb-3">
    <label class="form-label">Full Name</label>
    <input name = "fullName"type="text" class="form-control" placeholder="Enter your full name" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Email Address</label>
    <input name= "email" type="email" class="form-control" placeholder="Enter your email" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name= "password" type="password" class="form-control" placeholder="Create a password" required>
  </div>

  <button name="submit" type="submit" class="btn btn-dark w-100">Sign Up</button>
</form>

    </div>
   <%-include('partials/scripts') %>
</body>
</html>